@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--font-poppins);
}
.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shadow-3 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@layer components {
  .hero-btn {
    @apply w-[200px]  py-3 rounded-md cursor-pointer;
  }
  .header-ele {
    @apply cursor-pointer hover:text-brand-3;
  }
  .demoFormInputContainer {
    @apply w-1/4 flex flex-col gap-1 items-center;
  }
  .demoFormInputHeader {
    @apply text-sm;
  }
  .demoFormInput {
    @apply w-full py-2 px-4 focus:outline-brand-3 bg-brand-bg1 border border-brand-1 rounded-md mt-1;
  }
  .sb-ele {
    @apply py-2 w-full text-center rounded-md hover:bg-brand-bg2 cursor-pointer ease-in duration-100 flex items-center justify-center gap-1;
  }
  .user-info-area {
    @apply flex flex-col gap-2;
  }
  .user-info {
    @apply py-2 px-4 bg-brand-bg2 border border-brand-1 rounded-md;
  }
}
